.result{
  background-color:white;
  top:60%;
  left:40%;
  height:140px;
  width:200px;
  padding:10px;
  position:fixed;
  border:thin solid cornflowerblue;
  text-align: center;
  font-family: Calibri;
  z-index: 5;
}

.filterForm{
  background-color:white;
  top:60%;
  left:40%;
  height:200px;
  width:300px;
  padding:10px;
  position:fixed;
  border:thin solid cornflowerblue;
  text-align: center;
  font-family: Calibri;
  z-index: 5;
}

.closeButton{
  margin:0;
  padding:5px;
  text-align: right;
  color:cadetblue;
}
p{
  font-family: Calibri;
  padding:10px;
}

.input{
  margin:5px;
}

