.material-icons.md-48 { font-size: 40px; }
.material-icons.blue { color:royalblue }

.material-icons{
    margin:8px;
}

.filterHighlight{
    color:red !important;
}

.toolbar{
   font-family: Calibri;
   padding:0px;
   margin-left:10px;
   margin-top:10px;
}

.content{
    padding:0px;
    margin: 0px;
    height: 580px;
    overflow-y: auto;
}

.buttonAdd{
    position: fixed;
    left:350px;
    bottom:50px;
    z-index: 6;
}



