<section class="leftBody" >
  <section class="toolbar">
      <md-chip-list>
        <i class="material-icons blue">search</i>
        <md-input-container  >
          <input mdInput placeholder="Search" color ="primary" (keyup)="onChange($event)">
        </md-input-container>
       <i *ngIf="buttonStatus" class="material-icons blue" (click)="onDeleteClicked()">delete</i>
       <i class="material-icons blue" (click)="sortingOperation()">sort</i>
       <i class="material-icons blue" [ngClass]="{'filterHighlight':highlightFilter!=null}" (click)="filterClicked()">filter_list</i>
       <md-chip>  {{employees==null ? 0:employees.length}} </md-chip>
    </md-chip-list>
    <emp-popup *ngIf="popupStatus" [popupInput]=popupStatus (confirmationNo)="onConfrimationNo()" (confirmationYes)="onConfrimationYes()" (confirmationSubmit)="onConfirmationSubmit($event)"></emp-popup>
  </section>
  <section class="content">
    <emp-employee *ngFor="let employee of employees" [ngClass]="{'highlight':employee.empid==selectedId}" [employee]="employee" (deleteButton)="onClicked($event)" (colorStatus)="onColorClicked($event)"></emp-employee>
    <i class="material-icons blue buttonAdd md-48" (click)="onAddClicked()">add_circle</i>
  </section>
<section>
    