.material-icons.md-48 { font-size: 40px; }
.material-icons.blue { color:royalblue }

.material-icons{
    margin:8px;
}

.material-icons.add{
    margin:0px;
    padding-top:17px;
}

.filterHighlight{
    color:red !important;
}

.toolbar{
   font-family: Calibri;
   padding:0px;
   margin-left:10px;
   margin-top:10px;
}

.content{
    padding:0px;
    margin: 0px;
    height: calc(100vh - 145px);
    overflow-y: auto;
}

.buttonAdd{
    position: fixed;
    left:350px;
    bottom:50px;
    z-index: 6;
}

.dataStatus{
    margin:10px;
    font-family: tahoma;
    text-align: center;
    vertical-align: middle;
    background-color:white;
    height:100px;
    line-height: 100px;
    border-right: thin solid lightgrey;
    border-bottom: thin solid lightgrey;
    border-left: thin solid lightgrey; 
}

@media(max-width:768px)
{
    /deep/ .mat-input-container{
        width:150px;
    }
    
    .buttonAdd{
        left:200px;
    }
}


