
  <md-toolbar color="primary">
    <button class="app-icon-button">
      <i class="material-icons app-toolbar-menu">menu</i>
    </button>

    <img src="src/Sources/profilePicture.png" id="loggedIn_Picture">

    <section class="loggedIn_Details">
        <ul>
            <li>
                Edward Chandra
            </li>
            <li>
                SWD Red-JP
            </li>
        </ul>
    </section>

    <section class="toolBar_button">
        <img src="src/Sources/settingButton.png">
        <img src="src/Sources/powerButton.png">
    </section>
  </md-toolbar>

  <emp-list class="employeeList"></emp-list>

  <emp-right class="employeeInformation"></emp-right>