#loggedIn_Picture{
    width: 40px;
    height:40px;
}

.toolBar_button{
    text-align: right;
}

.toolBar_button img{
    width:40px;
    height:40px;
    padding:10px;
}

.loggedIn_Details{
    width:90%;
    margin:10px;
}

.loggedIn_Details ul{
    padding:0px;
}

.loggedIn_Details li{
    list-style-type: none;
    margin: 0;
    padding:0;
    font-family: Calibri;
}

.app-toolbar-menu {
  padding: 0 14px 0 14px;
  color: white;
}

.app-icon-button {
  box-shadow: none;
  user-select: none;
  background: none;
  border: none;
  cursor: pointer;
  filter: none;
  font-weight: normal;
  height: auto;
  line-height: inherit;
  margin: 0;
  min-width: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
}

.employeeList{
    overflow: hidden;
    float:left;
    width:31%;
}

.employeeInformation{
    float:left;
    width:69%;
}

@media(max-width:768px){
    md-toolbar{
        height:280px;
        margin: 0;
    }

    .profilePicture{
        width:100px;
        height:100px;
        overflow:hidden;
        text-align: center;
        margin: 0 auto;
    }

    #loggedIn_Picture{
        height:100px;
        width:100px;
        
    }

    .loggedIn_Details{
        width:100%;
        text-align: center;
        padding:0;
        margin:0;
    }   

    /deep/ .mat-toolbar-row{
        display:block !important;
    }
    
}
