<section>
<header>
  <h2>Add Employee</h2>
</header>
<form 
  [formGroup]="form"
  (ngSubmit)="onSubmit(form.value)">
  <section class="input">

  <section class="leftInput">
  <ul>
    <li>
       <md-input-container>
         <input  mdInput placeholder="First Name" name="firstName" formControlName="firstName">
      </md-input-container>
      <div *ngIf="form.controls.firstName.errors?.pattern" class="error">
        First Name has invalid characters
      </div>
    </li>

    <li>
       <md-input-container>
         <input  mdInput placeholder="Last Name"  formControlName="lastName">
      </md-input-container>
        <div *ngIf="form.controls.lastName.errors?.pattern" class="error">
        Last Name has invalid characters
      </div>
    
    </li>

    <li>
     <md-select placeholder="Gender" name="gender" formControlName="gender">
     <md-option *ngFor="let gender of lookupLists.genders" [value]="gender.value" >
      {{gender.viewValue}}
      </md-option>
      </md-select>
   </li>

    <li>
       <md-input-container>
         <input  type="date" mdInput placeholder="Date of Birth" formControlName="dateOfBirth">
      </md-input-container>
    </li>

     <li>
       <md-input-container>
         <input   mdInput placeholder="Nationality" formControlName="nationality">
      </md-input-container>
      <div *ngIf="form.controls.nationality.errors?.pattern" class="error">
        Nationality has invalid characters
      </div>
    </li>

     <li>
       <md-input-container>
         <input  mdInput placeholder="Martial Status" formControlName="martialStatus">
      </md-input-container>
      <div *ngIf="form.controls.martialStatus.errors?.pattern" class="error">
        Nationality has invalid characters
      </div>
    </li>


    <li>
       <md-input-container> 
         <input  mdInput placeholder="Phone" formControlName="phone">
      </md-input-container>
      <div *ngIf="form.controls.phone.errors?.pattern" class="error">
        Phone Number must be numeric
      </div>
    </li>


      <li>
     <md-select placeholder="Location" name="Location" formControlName="location">
     <md-option *ngFor="let location of locationList" [value]="location.locId">
      {{location.locName}}
      </md-option>
      </md-select>
    </li>
  </ul>
  </section>

<section class="rightInput">
  <ul>
    <li>
       <md-input-container>
         <input  mdInput placeholder="Sub Division" formControlName="subDivision">
      </md-input-container>
      <div *ngIf="form.controls.subDivision.errors?.pattern" class="error">
        Sub Division has invalid characters
      </div>
    </li>

    <li>
       <md-input-container>
         <input  mdInput placeholder="Suspend Date" formControlName="suspendDate">
      </md-input-container>
      <div *ngIf="form.controls.suspendDate.errors?.pattern" class="error">
        Suspend Date has invalid characters
      </div>
    </li>
    
    <li>
       <md-input-container>
         <input  type="date" mdInput placeholder="Hire Date" formControlName="hiredDate">
      </md-input-container>
    </li>

    <li>
     <md-select placeholder="Grade" name="grade" formControlName="grade">
     <md-option *ngFor="let grade of lookupLists.grades" [value]="grade.value">
      {{grade.viewValue}}
      </md-option>
      </md-select>
   </li>

    <li>
     <md-select placeholder="Division" name="division" formControlName="division">
     <md-option *ngFor="let division of lookupLists.divisions" [value]="division.value">
      {{division.viewValue}}
      </md-option>
      </md-select>
    </li>

    <li>
       <md-input-container>
         <input  mdInput placeholder="Email" formControlName="email">
      </md-input-container>
    </li>

    <li>
       <md-input-container>
         <input  mdInput placeholder="Status" formControlName="status">
      </md-input-container>
    </li>
  </ul>
  </section>

  <section class="upload">
    <label for ="fileInput">
      <img src="{{imageSource}}">
    </label>
    <input type="file" id="fileInput" (change)="fileEvent($event)">
  </section>

  </section>

  <section class="toolbarFooter">
    <div class="cancelButton">
     <button md-raised-button color="warn" type="button" (click)="onCancelClicked()"> Cancel</button>
   </div>
    <div class="submitButton">
     <button md-raised-button color="primary" type="submit" [disabled]="!form.valid">Save</button>
   </div>
  </section>
  </form>
</section>

