
.toolbarFooter{
    border-top: 2px solid darkgray;
    padding-top: 2px;
    text-align: right;
}

.input{
    height:505px;
    overflow: auto;   
}

.leftInput{
    float:left;
    
}

.rightInput{
    float:left;
}

ul li{
    list-style-type: none;
    padding:10px;
    margin-top: 10px;
}   

.error{
    margin:10px;
    color:red;
}

md-input-container{
    margin:0px;
    padding:0px;
    height:30px;
}

.upload{
    float:left;
    width:150px;
    height:150px;
}
.upload input{
    display: none;
}

.upload img{
    width:150px;
    height:150px;
    cursor: pointer;
    border-radius: 100px;
}

.submitButton{
    float:right;
   margin-right:10px;
}

.cancelButton{
    float:right;
    margin-right:5px;
}

@media(max-width:768px)
{
    .rightInput{
        height:529px;
    }
    .upload img{
        margin-left:150px;
    }
    
}